@font-face {
  font-family: "Lato";
  src: url('Lato-Regular.ttf');
}

body{
  margin:center;
  font-family: "Lato", Arial;
  font-size: 18px;
  color:white;
}

#gameOpacity {
  background-color: rgba(0, 0, 0, 0.3);
  position:absolute;
  left:0px;
  height: 100%;
  width: 100%;
  top:0px;
  text-align: center;
  display: block;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#commandes {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  position:absolute;
  left:25%;
  height: 50%;
  width: 50%;
  top:25%;
  text-align: center;
  display: block;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  padding-top: 3%;

}


#messages {
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  height: 100%;
  text-align: center;

}
#canvas {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
  width: 100%;
}
span {
  left: 20%;
  right:20%;;
  text-align: center;
  display: block;
  position:absolute;
  bottom:10%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

img {
  position:absolute;
  left:0px;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
